@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #015958, #008F8C);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px  white;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #EBBD15;
    text-align: center;
    text-shadow: 1px 1px 0px #2019028b ;
}

h2{
    color: #EB781A;
}
p{
    text-align: justify;
}